@charset "UTF-8";

/*RESET*/
html {height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
table {border-collapse:separate;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal; font-weight:normal;}
em,strong{}
ol,ul {list-style:none;}
caption {text-align:center;}
th {text-align:left;}
h1,h2,h3,h4,h5,h6 {margin:0; padding:0; line-height:150%; text-shadow: 1px 1px 1px #FFF; font-family: 'Gentium Book Basic', serif;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}

h1 {font-size:30px;}
h2 {font-size:20px;}
h3 {font-size:18px;}
h4 {font-size:16px;}

/*MAIN*/
body {font-size:13px; color:#555; font-family:arial,sans-serif; background:#f8f8f8 url(../images/body_bg.jpg) scroll no-repeat 0 0;}
a {color:#f0397b; outline:none; text-decoration:none;}
a:hover {text-decoration:underline;}
img {border: none; vertical-align: middle;}
p {line-height:140%;}
label {padding:2px 0; display:block;}
.cl {clear:both; line-height:0;}
.fl {float:left;}
.fr {float:right;}
.noTop {border-top:none !important;}
.noBot {border-bottom:none !important;}

input[type=text], textarea {padding:10px; background-color:#FDFDFD; border: 1px solid #D6D6D6; font-family: Arial,Helvetica,sans-serif; font-size:13px; width: 300px; box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.3) inset;}
input[type=text]:focus, textarea:focus {background-color:#FFF;}
input[type=submit] {padding:10px 20px; margin:10px 0 0; background-color:#FDFDFD; border: 1px solid #D6D6D6; font-family: Arial,Helvetica,sans-serif; font-size:13px; box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.3);}
input[type=submit]:hover {color:#f0397b; border-color:#C6C6C6; cursor:pointer;}
/*SPRITE*/

/*BUILD*/
.introProducts {background-color:#fbb835;}
.introProducts h1 {font-size:40px; text-shadow: 1px 1px 1px #d89614;}

.intro {padding:30px 30px 40px; color:#FFF; margin:0 0 30px;}
.intro p {font-size:15px;}
.outro {padding:30px 0px;}

.main {width:960px; overflow:hidden; }
.sidebar {float:left; width:200px; padding:170px 0 0; background:transparent url(../images/sidebar_bg.png) scroll no-repeat 0 0;}
.content {float:right; width:720px; border-bottom:solid 1px #DDD; padding:0 0 50px; }
.logo {float:right; margin:0 0 50px;}
.mainNav {overflow:hidden; float:right; clear:both;}
.mainNav li {padding:10px 0; text-align:right;}
.mainNav li a {font-family: 'Gentium Book Basic', serif; font-size:20px; color:#555; font-weight:bold; text-shadow: 1px 1px 1px #FFF;}
.mainNav li a:hover {color:#f0397b; text-decoration:none;}
.mainNav .active, .mainNav .active:hover  {color:#f0397b;}
.footer {width:720px; margin:0 0 0 240px; padding:20px 0; overflow:hidden; border-top:solid 1px #f0397b;}
.bottom {width:720px; margin:0 0 0 240px; padding:20px 0; border-top:solid 1px #FFF; overflow:hidden;}
.bottom > li {float:left; width:144px;}
.bottom ul {padding:20px 0 0;}
.bottom ul li {padding:0 0 5px;}
.landing {padding:30px 0;}
.home {overflow:hidden;}
.homeNews {float:left; width:350px;}
.homeSocial {float:right; width:350px;}

.products h2 {display:inline;}
.products li {padding:20px 0; border-bottom:solid 1px #DDD; border-top:solid 1px #FFF; position:relative; overflow:hidden;}
.products p {padding:10px 0;}
.products img {float:right; border:solid 1px #DDD;}
.products .desc {margin:0 230px 0 0;}
.products .fbLike {position:relative; left:20px;}
.products .moreInfo {padding:10px 15px; position:relative;}
.products .toggle-form {padding:5px 5px 5px 15px;}

.message {font-size:14px; color:#FFF; padding:30px 0; position:absolute; right:100px; width:250px; top:30px; text-align:center;}
.success {background-color:green;}
.error {background-color:red;}

